USE [master]
GO
/****** Object:  Database [ThucTap2021]    Script Date: 12/8/2021 11:31:24 AM ******/
CREATE DATABASE [TDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThucTap2021', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ThucTap2021.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ThucTap2021_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ThucTap2021_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThucTap2021].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThucTap2021]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 12/8/2021 11:31:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [nvarchar](200) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Gender] [nvarchar](50) NULL,
	[Phone1] [nvarchar](50) NULL,
	[Phone2] [nvarchar](50) NULL,
	[Email] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[ProvinceID] [nvarchar](50) NULL,
	[WardID] [nvarchar](50) NULL,
	[DistrictID] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[Note] [nvarchar](max) NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SearchText] [nvarchar](max) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([ID], [StudentCode], [Name], [Gender], [Phone1], [Phone2], [Email], [Image], [Address], [ProvinceID], [WardID], [DistrictID], [Birthday], [Note], [CreateBy], [CreateDate], [IsDelete], [SearchText]) VALUES (34, N'1710292', N'cao Huu Anh Tu', N'Male', N'0862860223', NULL, N'Caoanhtu@gmail.com', N'image', N'Hue', N'1', N'2', N'3', CAST(N'1999-06-20' AS Date), N'AnhtuDeptrai', N'Anh Tu', CAST(N'2021-01-05 00:00:00.000' AS DateTime), 1, N'Anh Tu')
INSERT [dbo].[Student] ([ID], [StudentCode], [Name], [Gender], [Phone1], [Phone2], [Email], [Image], [Address], [ProvinceID], [WardID], [DistrictID], [Birthday], [Note], [CreateBy], [CreateDate], [IsDelete], [SearchText]) VALUES (57, N'1714179', N'Pham Viet Khanh', N'BEde', N'0123456987', N'', N'Khanhhoguom@gmail.com', N'khanh', N'Di linh City', N'3', N'2', N'2', CAST(N'1999-01-12' AS Date), N'aichoibede', N'Anh Tu', CAST(N'2021-10-10 00:00:00.000' AS DateTime), 0, N'KhanhhoGuom')
SET IDENTITY_INSERT [dbo].[Student] OFF
USE [master]
GO
